* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    margin: 2em;
}

header {
    margin-left: 5%;
    margin-right: 5%;
}

.logo_mobile {
    display: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

ul li a {
    color: #060606;
    text-decoration: none;
}

a:hover {
    color: #f5deae;
}

.logo {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 50px;
    text-decoration: none;
}

.first {
    color: #A18A68;
}

.second {
    color: #686AA1;
}
.fa-solid
{
    color: yellow;
}
.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}
#btn-quantity, #btn-quantity-moins, #btn-quantity-plus {
    background-color: #A18A68;
    border: none;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5%;
}
#label
{
    display: flex;
    flex-direction: column;
    padding: 3px;
}
input {
    border: px solid #222;
    background: #fff;
}
.shipping
{
    color:#6f4c7f;
}
section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  /* Style the form header */
  h2.shipping, h3.shipping {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Style the labels */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Style the input*/
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style the submit button */
  input[type="submit"] {
    background-color: #473547;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* styling for the address input fields */
  #asterisk
  {
    color: red;

  }
  input[name="adress"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label[for="name"],
  label[for="number"],
  label[for="email"],
  label[for="adress"],
  label[for="card"] 
  {
    margin-top: 10px;
  }
  
  label[for="card"]
  {
    margin-top: 5px;
  }
  
  input[type="submit"]:hover {
    background-color: #ca85e1;
  }
  /* styling footer */
.custom-footer {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.footer a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #f5deae;
}

.custom-form {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}
  