
*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
body{
    margin:2em;
}
header{
    margin-left: 5%;
    margin-right: 5%;
}
/* styling logo and nav-bar */
.nav-bar
{
    display:flex;
    justify-content: space-between;
}
nav ul li
{
    display: inline-block;
    padding: 10px;
}
ul li a
{
    color: #060606;
    text-decoration: none;

}
a:hover
{
    color: #f5deae;
}
.logo
{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 50px;
    text-decoration: none;
}
.first
{
    color: #A18A68;
}
.second
{
    color: #686AA1;
}
/* styling Hero of the page */
.hero
{
    background-image: url("Header.png");
    background-size: cover;
    height:90vh;
    border-radius: 15px;
    padding-left: 10em;
}
.hero_h1
{
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'DM Sans', sans-serif;
    color:white;
    font-size: 90px;
}
.hero_h2
{
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'DM Sans', sans-serif;
    color:white;
    font: size 30px;
}
.hero_h3
{
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'DM Sans', sans-serif;
	color: white;
	font-size: 30px;
    margin-top: 30px;
}
.hero-btn
{
    padding: 17px;
    border-radius: 10px;
    color: white;
    border:2px solid white;
    cursor: pointer;
}
/* styling the content of the page */
.herro_h4
{
    font-size: 26px;
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'DM Sans', sans-serif;
}
.custom-aside
{
    display: flex;
    justify-content: space-between;
}
aside{
    margin-top:35px;
    color: #A18A68;
    cursor: pointer;
}
.product
{
    padding: 40px 0;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    gap: 100px;
}
.price {
    color: #A18A68;
    font-size:large;
}
/* styling the About */
.custom_h
{
    font-size: 40px;
}
.Custom-about
{
    text-align: center;
}
.Custom-list
{
    font-size: 20px;
    list-style: inside;
}
/* styling footer */
.custom-footer{
    
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}
.footer
{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}
.footer a
{
    color: #333;
    text-decoration: none;
}
a:hover
{
    color: #f5deae;
}
.custom-form
{
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
     
}
.form{
    width: auto;
    border: 0;
    border-bottom: 2px solid;
    font-size: 1.3rem;
    padding: 7px 0;
}
.icon-smedia
{
    display: flex;
    justify-content: end;

}
/* .icon
{
    display: flex;
    justify-content: space-between;
} */
@media (max-width: 768px)
{
    .hero
    {
        display: none;
    }
    .nav-bar
    {
        display: flex;
        flex-direction: column;
    }

    nav ul li
    {
        display: none;
    }

    .logo
    {
        font-size: 40px;
    }
    .hero
    {
        height: 70vh;
        padding-left: 2em;
    }
    .product
    {
        display: flex;
        flex-direction: column;
    }
    .footer
    {
        display: flex;
        flex-direction: column;
    }
    .custom-footer
    {
        display: flex;
        flex-direction:column;
        align-items: flex-start;
    }

}
