/* style for decription */
*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
body{
    margin:2em;
}
header{
    margin-left: 5%;
    margin-right: 5%;
}
.logo_mobile
{
    display:none;
}
.nav-bar
{
    display:flex;
    justify-content: space-between;
}
nav ul li
{
    display: inline-block;
    padding: 10px;
}
ul li a
{
    color: #060606;
    text-decoration: none;

}
a:hover
{
    color: #f5deae;
}
.logo
{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 50px;
    text-decoration: none;
}
.first
{
    color: #A18A68;
}
.second
{
    color: #686AA1;
}
.logo_mobile{
    display: none;
}
.custom-aside
{
    display: flex;
    justify-content: space-between;
}
.button
{
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-weight:bolder;
    background-color: #C4B6A0;
    border: none;
    color: #840ba3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#custom-des
{
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'DM Sans', sans-serif;
    color: #686AA1;
    font-weight:bolder;
    font-size:30px;
}
aside {
    width: 400px;
    padding: 10px;
    margin: 10px;
}
#Header-rec
{
    margin-left: 50px;
    color: #686AA1;
}
.Recommendation {
    padding: 40px 0;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
}
.custom-h4
{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #6f4c7f;
}
.fa-solid
{
    color: yellow;
}
.description {
    text-align: center;
    width: 43%;
}

.clientImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clientImage span {
    margin-left: 10px;
}

.clientImage img {
    width: 40px;
}

.reviewSection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.reviewItem {
    width: 300px;
    padding: 10px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #cfc9c3;
    border: 1px solid #ddc8a2;
}

.reviewItem:hover {
    border-color: rgb(235, 186, 243);
    background-color: #c4b089;
    box-shadow: 0 0px 5px 0px #cbc0c0;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}

article p {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 1rem;
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* styling footer */
.custom-footer{
    
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}
.footer
{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}
.footer a
{
    color: #333;
    text-decoration: none;
}
a:hover
{
    color: #f5deae;
}
.custom-form
{
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
     
}
.form{
    width: auto;
    border: 0;
    border-bottom: 2px solid;
    font-size: 1.3rem;
    padding: 7px 0;
}
.icon-smedia
{
    display: flex;
    justify-content: end;

}
@media (max-width: 768px)
{

    body{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .logo
    {
        display: none;
    }
    .logo_mobile
    {
        display: flex;
        justify-content: center;
        width: 5em;
    }
    .nav-bar
    {
        display: flex;
        flex-direction: column;
    }
    nav ul li
    {
        display: none;
    }
    .Recommendation
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .custom-aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}